html {
    height: 100%;
    width: 100%;
}

#navbar{
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: white;
}

#homebg{
    height:100%;
    width:60%;
}
    
    